@import-normalize;
@import "font.css";
@import "./recipe-list.css";
@import "./recipe.css";
@import "./buttons.css";
@import "./ingredient-list.css";
@import "./recipe-edit.css";

html {
  box-sizing: border-box;
  font-size: 1.2em;
}
/* inherit border-box on all elements in the universe and before and after
   */
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
.mr-1 {
  margin-right: 5px;
}
header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: #f0a500;
  border-bottom: 1px solid #cf7500;
  color: #f4f7c5;
}

h1 {
  /* font-style: italic; */
  margin: 0;
}

@media (min-width: 1000px) {
  header {
    max-width: 50%;
  }
}
