.btn {
  font-size: inherit;
  border: none;
  outline: none;
  font-weight: bold;

  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
.btn--primary {
  color: #f4f4f4;
  background-color: #f0a500;
  /* background-color: #b2ebf2; */
}
.btn--primary:hover {
  color: #f4f4f4;
  background-color: #000000;
}
.btn--danger {
  color: #cf7500;
  background-color: #f0a500;
}
.btn--danger:hover {
  color: #cf7500;
  background-color: #000000;
}
