.recipe-list {
  background-color: #f4f4f4;
  color: #cf7500;
  min-height: 100vh;
  max-width: 100vw;
}

.recipe-list__add-recipe-btn-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.recipe__title {
  color: #f0a500;
}
.recipe__value {
  color: #000000;
}

@media (min-width: 1000px) {
  .recipe-list {
    max-width: 50vw;
  }
}
